<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
        <mat-card >
          <mat-card-header>
            <mat-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{dish.image}} alt = {{dish.name}}>
          <mat-card-content>
            <p>
              {{dish.description}}
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink] = "['/dishdetail',prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button [routerLink] = "['/dishdetail',next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
          </mat-card-actions>
        </mat-card>

  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-card >
      <mat-card-header>
        <mat-card-title>
          <h3>Comments</h3>
        </mat-card-title>
      </mat-card-header>

        <mat-list>
           <mat-list-item *ngFor="let dish of dish.comments">
             <div matLine>


             <span>
               {{dish.comment}}

               </span>
             </div>

             <div matLine>


            <span>
              {{dish.rating}} Stars
              <br>
              </span>
            </div>

            <div matLine>
            <span>
              {{"--" + dish.author }} {{dish.date | date}}
              </span>
            </div>

            


            </mat-list-item>
            <mat-list-item><div *ngIf="commentForm.valid">
                <div matLine>{{ commentForm.value.comment }} </div>
                  <div matLine>{{ commentForm.value.rating}} Stars</div>
                  <div matLine>{{"--" + commentForm.value.author}}</div>
                </div>
            </mat-list-item>




        </mat-list>

    </mat-card>

  </div>
 
 
  <div [hidden]="dish">
      <mat-spinner></mat-spinner><h4>Loading...</h4>
      </div>
  

  


    <div fxFLex fxFlexOffset="20px" class="for-size">
      
        
        <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
          
            <div matLine>
            <mat-form-field class="half-width">
              <input matInput formControlName="author" placeholder="Name" type="text" >
              <mat-error *ngIf="formErrors.author">
                {{ formErrors.author }}
              </mat-error>
            </mat-form-field>
            </div>
    
            <div matLine>
                <mat-slider min="1" max="5" step="1" value="5" thumbLabel tickInterval = "1" formControlName="rating" type="range" required></mat-slider>
              <mat-error *ngIf="formErrors.rating">
              </mat-error>
            </div>
            
            <div matLine>
            <mat-form-field class="half-width">
              <input matInput formControlName="comment" placeholder="Your Comment" type="text" >
              <mat-error *ngIf="formErrors.comment"></mat-error>
            </mat-form-field>
          </div>
  
          
        
          
          
            <button type= "submit" mat-button class="background-primary text-floral-white"
            [disabled] = "commentForm.invalid">Submit</button>
          </form>
    </div>  

</div>
